.v-app {
    background-color: #FFFFFF !important;
}

.main-layout {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-left: 32px;
/*border-image: url(images/panel-shade-large.jpg) !important;*/
}

.seperator {
    border: none;
    width:100%;
    background :green url("images/headstrip.jpg");
    height:5px
}

.header-with-border {
    font-weight:bolder;
    border-bottom-color:#333;
    border-bottom-style:solid;
    font-size:13px !important;
}

.v-label-header-with-border {
    font-weight:bolder;
    border-bottom: solid #333;
    font-size:14px !important;
}


.header {
    text-align: center;
    background-color: #f4f5f5;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.banner {
    margin: 20px 0 0 20px;
    border: 2px groove;
    background-color:#FFFFFF;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
    width:1155px !important;
}

.banner img {
    padding: 5px 5px 5px 5px;
}

.header-search-text-field {
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #e9e3e3 url(images/search.png) no-repeat 4px 4px !important;
    padding: 8px 12px 0 22px !important; border: 1px solid #CCCCCC !important;
    width: 126px !important;
    margin-top:2px;
    margin-bottom:6px !important;
    font-style:italic;
/*color: #fbf6f6 !important;*/
}

input.header-search-text-field:focus {
    outline:none !important;
    background: #FFFFFF url(images/search.png) no-repeat 4px 4px !important;
}

.quick-link-holder {
    width: 162px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
/*margin-right: 8px !important;*/
/*font-size:medium;*/
}

.quick-link-holder-layout {
    padding-left: 20px !important;
}

.body {
/*background-color: #f0f6f3;*/
    background-color: #f4f5f5;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.right {
    background-color: #f4f5f5;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px; /*border-left:black solid;*/
}

.footer-bottom {
    font-size: 11px;
    text-align: center;
    color:#4F8A10 !important;
}

.footer-bottom a{
    text-align: center;
    color:#4F8A10 !important;
    text-decoration:underline !important;
}

.footer-bottom a:hover{
    color:#4F8A10 !important;
    text-decoration:underline !important;
}


.app-panel {
/*background-color: blue;*/
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

.view-app {
    padding: 3px;
    padding-bottom: 10px;
    font-size: small;
}

.app-panel-app-name {
    font-weight: bolder;
    padding-bottom: 3px;
}

.view-app-header {
    width: 120px;
    height: 80px;
    font-style: oblique;
}

.view-app-row {
/*width: 900px;*/
}

.view-app-text {
    font-size: smaller;
    margin-left: 10px;
    margin-top: 4px;
}

.application-view-app-image {
    margin-top: 5px;
}

.application-view-app-image img {
    width: 65px;
    height: 65px;
    cursor: pointer;
    padding-top: 3px;
}

.body-application-list-panels {
    width: 960px !important;
}

.login-error-message-label {
    color: #ba1212;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
}

/*======================================= RIGHT PANEL ================================================*/

.advertisement-right-layout {
    margin-bottom: 22px !important;
    padding-bottom: 10px !important;
    width: 178px;
    height: 466px;
}

.right-layout-panel {
    width: 180px !important;
    margin: 0 4px 14px 4px !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.right-layout-panel-middle {
    width: 180px !important;
    margin: 0 4px 12px 4px !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.right-layout-panel-bottom {
    width: 180px !important;
    margin: 0 4px 35px 4px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}

.right-layout-panel-number {
    padding-top: 3px;
    padding-right: 2px;
    padding-left: 5px;
}

.right-layout-panel-first-icon {
    height: 52px;
    width: 52px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.right-layout-panel-first-icon img {
    height: 52px;
    width: 52px;
    cursor: pointer;
}

/*======================================= END RIGHT PANEL ================================================*/

/*======================================= APPLICATION VIEW ================================================*/

.application-view {
    margin: 0 0 25px 20px !important;
    width: 958px !important;
    overflow: hidden !important;
    height: 712px !important;
    border-radius: 15px !important;
    -moz-border-radius: 15px !important;
/*font-size:medium !important;*/
}

.application-view-main-details img {
    padding-top: 8px;
    padding-left:10px;
}

.application-view-main-details {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.application-view-app-name-heading {
    font-size: large;
    color: #009900;
    padding-bottom: 15px;
    padding-left: 10px;
}

.application-view-description {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 700px !important;
}

.application-view-icon-right-text {
    padding-left: 20px !important;
}

.application-view-icon-right-text-last-line {
    padding-left: 10px;
}

.menu-headings {
    font-size: small;
    font-weight:bold;
    color: #0d5403;
    padding-top: 30px !important;
    padding-left: 10px !important;
}

.menu-headings-view {
    padding-top: 25px;
}

.application-view-text-field {
    padding-top: 20px !important;
    padding-left: 10px;
    margin-bottom:30px;
}

.application-view-text-field textarea {
    margin-right: 20px !important;
}

.application-view-comments {
    padding-left: 10px;
/*height: 250px !important;*/
    overflow-y: auto !important;
    width: 920px !important;
}

.application-view-user-comments {
    padding-left: 20px;
    border-bottom: 1px groove;
}

/*======================================= END APPLICATION VIEW ================================================*/


/*==========================================PUBLISH APPLICATION ===============================================*/


.publish-application-layout {
    margin-left: 20px;
    width: 960px !important;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*==========================================END PUBLISH APPLICATION ===============================================*/

.application-serach-view {
    margin-left: 20px !important; /*word-wrap: break-word !important;*/
    font-size: medium !important;
    border-radius: 15px;
    -moz-border-radius: 15px;
    width: 957px !important;
    height: 711px !important;
}

.application-serach-view img {
    cursor: pointer;
}

.application-serach-view img {
    width: 75px;
    height: 75px;
}

.application-search-outer-layout {
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: smaller;
    width: 420px;
}

.application-search-result-right-text-name {
    margin-top: -5px !important;
    font-size: small;
    font-style: oblique;
    color: #009900;
}

.application-search-result-right-text-dev-link {
    margin-top: -2px !important;
}

.small-text-description {
    color: #666666 !important;
    font-size:small !important;
}

.application-search-result-right-text {
    padding-left: 10px;
}

.application-advance-search {
    padding-bottom: 4px;
    padding-top: 2px; /*margin-left: 5px;*/
    border-bottom: solid #556b2f;
    margin-bottom: 5px;
}

.application-advance-search-dropdown {
    margin-left: 20px;
}

.advance-search-dropdown-headers {
    font-weight: bold;
    padding: 2px 2px 2px 0;
}

/*=========================================PUBLISH APPLICATION======================================*/


.upload-image-layout {

}

.upload-image-layout span {
/*display:none;*/
}

/*=====================================================================================================*/


/*============================================== INTEGRATION =========================================*/

.social-share-line {
    margin-top:10px;
}

.facebook-share {
    width: 60px;
    height: 50px;
}


/*=====================================================================================================*/


/*VAADIN CLASSES OVERRIDE*/

.link-button-click * {
    color: black !important;
    text-decoration: none !important;
}

.v-panel-captionwrap {
    font-size: 1.0em;
    background-color: #e60000;
    /*background: url(images/headstrip.jpg); *//*background: #365768;*/
/*background: -moz-linear-gradient(top, #acc0cb, #365768);*/
/*background: -webkit-gradient(linear, left top, left bottom, from(#acc0cb), to(#365768));*/
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-bottom: 1px solid #FFFFFF !important;
    height: 27px;
}

.v-panel-caption {
    border-style: none !important;
}

.v-panel-deco {
    border-style: none !important;
}

.v-panel-captionwrap {
    padding-top: 2px;
    margin-bottom: -4px;
}

.v-panel-captionwrap span {
/*padding-top: 20px;*/
    padding-left: 10px;
    color: #ffffff;
}

.v-panel-caption,
.v-table-striped,
.sidebar-menu {
    background: none !important;
    font-size: 1.0em !important;
}

.v-table-row-odd {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:normal;
    color:#1B1B1B;
    text-align:left;
    vertical-align:center;
    height:20px;
    background-color: #a9e0a3;
}
.v-panel-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    font-size: 1.0em;
    background-color: white !important;
    border-bottom: 1px solid #B3B3B3 !important;
}

/* Vaadin Link objects */
.v-button-link span.v-button-caption,
.v-link a span {
    font-size:small;
    font-weight:bold;
    font-family: VodafoneRg;
    /*text-decoration: none; *//* no underline, unless mouse is on it... see a:hover */
/*color: #009900; */
    color: #333;
}

/* Vaadin Buttons with the "link" style */
.v-button-link span.v-button-caption:hover,
.v-link a:hover {
    text-decoration: underline; /* When mouse over a link: show underline */
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
    background: url(img/infinite2.gif) no-repeat center;
    position: absolute !important;
    width: 65px;
    height: 65px;
    top: 50%;
    left: 50%;
    z-index: 30000;
}

.v-ratingstars-wrapper-tiny .v-ratingstars-bar {
    background-image: url(images/star_bg_12x11.gif);
}

.v-ratingstars-wrapper-tiny .v-ratingstars-star {
    background-image: url(images/star_12x11.png);
    width: 12px;
    height: 11px;
}

.v-ratingstars-wrapper {
    background: none !important;
    margin-bottom: -3px !important;
}

.v-form-errormessage {
    color: #b2320b !important;
    padding-left: 14px;
    font-size:1.0em;
    background: transparent url(../chameleon/img/error-indicator.png) no-repeat 0 50% !important;
}

.v-caption {
    font-weight: bolder !important;
    font-size: 12px !important;
    color:#333333;
}

input.v-textfield-readonly,
textarea.v-textarea-readonly,
.v-filterselect-input-readonly
{
    background-color:#e3dada !important;
    color:#666666;
    border: none !important;
}

.success-label {
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
    background-image:url(images/success.png);
    background-repeat: no-repeat;
    height:50px;
    width:600px !important;
    line-height:50px;
    font-size:13px;
    text-indent:50px;
    margin-left:25px;
    border:1px solid #4F8A10 !important;
}

.success, .info {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size:13px;
}

.success {
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
    background-image:url(images/success.png);
    height:50px;
    line-height:50px;
    font-size:13px;
    text-indent:50px;
    border:1px solid #4F8A10 !important;
}

.success-password-change {
    width:795px !important;
}

.success-user-creation {
    width:820px !important;
}

.success a {
    color: #4F8A10 !important;
    text-decoration:underline;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(images/warning.png);
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(images/error.png);
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(images/info.png);
}

.action-button {
    background: url("images/bg-btn-signup.png") repeat-x 0 0 !important;
    border: 1px solid !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    text-align: center;
    color: #FFFFFF !important;
    /*font: 12px Helvetica, Arial, Sans-serif !important;*/
    /*font-weight: bold !important;*/
    outline: none !important;
    border-color: #017004;
    height:25px !important;
    font-size:12px !important;
}

div.v-button-menu_link,
div.v-button-menu_link:focus,
.v-button-menu_link:active,
div.v-disabled.v-button-menu_link,
div.v-disabled.v-button-menu_link:focus,
div.v-button-menu_link .v-button-wrap,
div.v-button-menu_link:focus .v-button-wrap,
.v-button-menu_link:active .v-button-wrap,
div.v-disabled.v-button-menu_link .v-button-wrap,
div.v-disabled.v-button-menu_link:focus .v-button-wrap {
    background: transparent;
    font-weight: normal;
    text-shadow: none;
    border: none;
    padding-left: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.v-menubar {
    /*background-color: #e60000 !important;*/
    /*background: url("images/button-grad-active.png") repeat-x 0 0 !important;*/
    border-color: #e60000 !important;
    color:#ffffff !important;
    font-size: 13px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.v-menubar-menuitem {
    /*background-color:#0d5403  !important;*/
    /*background-color: #61A55A !important;*/
    /*background: url("images/button-grad-active.png") repeat-x 0 0 !important;*/
    border-color: #e1e1e1 !important;
    color:#ffffff !important;
    font-size: 11px; !important;

}
.v-menubar-menuitem-menu-link {
    /*background-color:#0d5403  !important;*/
    /*background-color: #61A55A !important;*/
    /*background: url("images/button-grad-active.png") repeat-x 0 0 !important;*/
    cursor:pointer !important;
}

.v-menubar-menuitem-menu-link:hover {
    /*background-color:#0d5403  !important;*/
    background-color: #e60000 !important;
    color: #5E2750;
    /*background: url("images/button-grad-active.png") repeat-x 0 0 !important;*/
    cursor:pointer !important;
    text-decoration:underline;
}


.v-formlayout-captioncell {
    text-align: left !important;
    white-space: nowrap;
}
.v-select-twincol-buttons {
    margin: 50px 5px;
    padding-bottom:10px;
}


.v-window-white-background {
    background: white !important;
}

.v-label-error-label {
    color:#ff0000;
    font-weight:bold;
}

.v-Notification {
    background-color: #DFF2BF !important;
    color: #4F8A10 !important;
    height:35px !important;
    width:500px;
    /*line-height:50px;*/
    font-size:14px !important;
    margin:25px !important;
    padding:5px !important;
    -moz-border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    border-radius: 15px !important;
    align:center !important;
    text-indent:50px;
}

a{
    color:#4F8A10 !important;
    text-decoration:underline !important;
}

a:hover{
    color:#4F8A10 !important;
    text-decoration:underline !important;
}

/*msisdn verifcation retry layout*/

.mvr_edit_btn_width {
    width: 72px;
}

.mvr_error_lbl {
    color: #8B0000;
    font-size: 11px;
    background-color: #ffa2a3;
    border: #8B0000 dotted 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 3px;
}

.mvr_success_lbl {
    color: #0d6134;
    text-align: center;
    font-size: 11px;
    background-color: #ceffe6;
    border: #0d6134 dotted 1px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 3px;
}

.rhombus-logo {
    width: 512px;
    height: 1100px;
    position: absolute;
    left: -350px;
    top: -470px;
}