body{
padding:0px;
margin:0px;
font-family:sans-serif;
}

.header{
	height:45px;
	color:white;
	background-color:#E60000;
	padding-top:5px;
}
.logo{
	height:40;
	background-image:url('https://apps.vodafone.com.fj/appstore/resources/images/appstore_logo.png');
	background-repeat:no-repeat;
	background-size:10%;
	margin:0px 10px 0px 15px;
}
.content{
	text-align:center;
	/*height:700px;*/
	color:#777777;
	/*padding: 20px 50px 20px 50px;*/
}

.footer{
	background-color:#373737;
	height:30px;
	text-align:center;
	padding:20px 10px 10px 10px;
	color:#a0a0a0;
	font-size:14px;
}

.footer a {
    color:#a0a0a0;
    text-decoration: none;
}

img#rhombus-logo {
    width: 692px!important;
    height: 1402px!important;
    position: absolute;
    left: -550px;
    top: -621px;
    display: none;
}




/*--------------------------------------------- */

ol {
    counter-reset: item;
	
}
ol li {
    display:block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
	font-weight: bold;
    right: 10px; /* space between number and text */
}

ol li ol li{
    font-weight:normal;
    text-transform:none;
    margin-left:0.2em;
	
}

ol li ol li ol li{
    margin-left: -1em;

   /* list-style-type:lower-alpha;*/
}

ol li ol li ol li:before{
    content:none;
}

ol li ol li ol li ol li{
    /*list-style-type:lower-roman;  */ 
}







