/*
 * (C) Copyright 2008-2012 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */

html,body {
	margin:0;
	padding:0;
	border:0;
	background:transparent;
	color:#000;
	}

body {font:normal 76% Arial,Helvetica,Verdana,sans-serif;}

acronym {
	border-bottom:1px dotted #ccc;
	cursor:help;
	}

a img,#header img {
	border:0;
	display:block;
	}

.bold {font-weight:bold;}

.important {color:#b00;}

.center {text-align:center;}

.right {text-align:right;}

.left {text-align:left;}

/*************************************** HEADER */
#header{
	margin:0;
	padding:0;
	width:100%;
	clear:both;
	background:#b00 url(../images/bgPageHeader.gif) top left repeat scroll;
	}

#header a {
	display:block;
	margin:0;
	padding:0 0 0 3px;
	text-decoration:none;
	background-color:#b00;
	color:#ffc;
	font-size:1em;
	line-height:19px;
	}

#header a.task {
	float:right;
	margin:0 0 0 1px;
	padding:0 5px 0 20px;
	line-height:20px;
	text-decoration:none;
	color:#ffc;
	}

#header a:hover.task, #header a:focus.task {background-color:#c33 !important;}

#header a.task#helpBtn {
	background:#b00 url(../images/help.gif) 5px 5px  no-repeat scroll;
/*	display:none; */
	}
	
#header a.task#aboutBtn {background:#b00 url(../images/about.gif) 5px 5px  no-repeat scroll;}

#header a.task#menuBtn {background:#b00 url(../images/menu.gif) 5px 5px  no-repeat scroll;}

#header a.task#logoutBtn {background:#b00 url(../images/logout.gif) 5px 5px  no-repeat scroll;}

#header h1 {
	margin:0 0 0 5%;
	padding:0;
	letter-spacing:1px;
	background:transparent;
	color:#ffc;
	font-size:2.5em;
	}

/*************************************** CONTENT */
#content {
	border-top:1px solid #fff; /* REMOVES VERTICAL MARGIN COLLAPSING */
	margin:0 5%;
	padding:0;
	width:auto !important;
	width /**/:100%;
	clear:both;
	}

#content .dataset {
	margin:30px 0 0 0;
	padding:10px;
	border:1px solid #eee;
	clear:both;
	width:auto !important;
	width /**/:100%;
	}

#content .dataset h2 {
	position:relative;
	top:-20px;
	left:-20px;
	width:350px;
	margin:0;
	padding:0 0 1px 5px;
	border:1px solid #ccc;
	background-color:#eee;
	color:#066;
	font-weight:bold;
	font-size:1em;
	line-height:1.3em;
	}

#content .dataset .leftCol {
	float:left;
	width:50%;
	min-width:50%;
	margin:0;
	padding:0;
	}

#appStatus .dataset .rightCol {
	float:right;
	width:50%;
	}

html>body .clear:after {
	content:" ";
	display:block;
	height:0px;
	line-height:0px;
	clear:both;
	visibility:hidden; /* HIDES THE ELEMENT, BUT STILL TAKES UP SPACE */
	}

#content p {
	line-height:1.6em;
	
	}

#content ul {
	margin:0;
	padding:0;
	list-style:none;
	}

#content ul li {
	background:url(../images/bullet_orange.gif) 0px 2px no-repeat scroll;
	padding-left:20px;
	margin-top:.5em;
	}

#content h2 {
	margin:0;
	padding:0;
	font-size:1.8em;
	}

#content h3 {
	margin:0;
	padding:0;
	font-size:1.5em;
	color:#333;
	}

#content p.top {
	text-align:right;
	font:bold 1em Verdana,Helvetica,sans-serif;
	}

/*************************************** FOOTER */
#footer {
	margin:2em 5% 10px 5%;
	padding:0;
	clear:both;
	}

#footer hr {
	margin:0;
	padding:0;
 	height:1px;
 	background:#ccc;
 	color:#ccc;
 	border:0;
 	}

#footer p {
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1.2em;
	color:#999;
	}

#footer p#copyright {margin-top:1em;}

/*************************************** LINK STYLES */
#content a:hover, #content a:focus, #content ul li a:hover, #content ul li a:focus,
#menu ul li a:hover, #menu ul li a:focus,
#footer a:hover, #footer a:focus {
	background:transparent;
	color:#b00;
	text-decoration:underline;
	}

/*************************************** TABLE FORMATTING */
table {
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
	background-color:#fff;
	font-size:1em;
	}

th {
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	background-color:#eee;
	color:#066;
	font-weight:normal;
	font-size:1em;
	vertical-align:middle;
	text-align:left;
	padding:0 0 0 2px;
	}

td {
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	font-size:1em;
	padding:0 0 0 2px;
	}

/*************************************** FORMS */
form {display:inline;}

input:focus, textarea:focus, select:focus {background:#fc3 !important;}

input.numeric {text-align:right;}

/*************************************** BUTTON STYLES */
#content a.button, #content a.button:link, #content a.button:hover, #content a.button:active, #content .button {
	text-decoration:none;
	background-color:#d0d0d0;
	border:1px outset #d0d0d0;
	color: #000;
	padding:1px 1em;
	font-size:1.2em;
	line-height:1.2em;
	}

/*************************************** HELP */
#help {
	background-color:#ffc;
	border:1px solid #ccc;
	margin:0 0 15px 0;
	padding:0 0 10px 0;
	}

#help h4 {
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
	background-color:#fc3;
	color:#b00;
	font-size:1em;
	font-weight:bold;
	line-height:19px;
	padding:0 0 0 3px;
	}

#help p {
	margin:10px;
	padding:0;
	}

/* #help #closeHelp {display:none;} */

#help h4 a, #help h4 a:visited {
	float:right;
	margin:0;
	padding:0 5px 0 20px;
	text-decoration:none !important;
	color:#ffc !important;
	font-weight:normal;
	line-height:19px;
	background:#b00 url(../images/close.gif) 5px 5px  no-repeat scroll;
	}

#help h4 a:hover, #help h4 a:focus {background:#c33 url(../images/close.gif) 5px 5px  no-repeat scroll !important;}

fieldset {
	border-top:solid 1px #ccc;
	border-bottom:0;
	border-right:0;
	border-left:0;
	margin:0;
	padding:0;
	padding-bottom: 1.5em;
	}
form{
	display: inline;
	}
.accesskey {text-decoration:underline;}	
fieldset div {padding-top:10px;}

legend {color:#066;}

input, select,textarea {
	font-family:monospace;
	font-size:11px;
	margin:0;
	padding:0;
	}

#content .button {
	padding:3px 0px;
	font-size:11px;
	width:11em;
	cursor:pointer;
	}

label {
	margin:0 5px 0 0;
	font-weight:bold;
	cursor:pointer;
	}

.required {background:#ffc;}
.important {color:#b00;font-family:monospace;font-weight:bold;font-size:1.2em;}
.evenrow {background-color:#eee;}

table .appHeadingRow th {
	border-top:5px solid #ccc;
	background-color:#666;
	color:#fff;
	text-align:left;
	padding:0 0 0 2px;
	}


#content .button#add {background:#d0d0d0 url(../images/arrowd.gif) right center  no-repeat scroll;}
#content .button#update {background:#d0d0d0 url(../images/update.gif) right center  no-repeat scroll;margin-top:10px;}
