/*
 * (C) Copyright 2008-2012 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */

#cas form {
    display: block;
    margin: -5px 0 0 11px;
    padding: 0;
    width: 100%;
}

#cas fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    clear: none;
    width: auto;
}

#cas fieldset legend {
    display: none;
}

#cas #login {
    float: left;
    margin: 0 -296px 0 0;
    padding: 15px;
    width: 288px;
    min-height: 15em;
    background: #eee;
    position: relative;
    border: 0;
}

#cas #login h2 {
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    font: normal 400 17px Georgia, "Times New Roman", Times, serif;
    color: #333;
}

#cas #login label {
    font-size: 13px;
}

#cas #login label span.accesskey {
    text-decoration: underline;
}

#cas #login input {
    letter-spacing: 1px;
    width: 100%
}

#cas #login input .action-button {
    width: 100px;
}

#cas #login .check input {
    position: relative;
    left: -4px;
    height: auto;
}

#cas #login .check label {
    float: none;
    xwidth: auto;
    line-height: 1.8;
}

#cas #login .btn-row {
    position: relative;
    top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    /*width:100%;*/
}

#cas #login .btn-row a {
    font-weight: bold;
    color: #39683E;
    text-decoration: underline
}

#cas #login .btn-row a:hover {
    color: #39683E;
    text-decoration: none;
}

a {
    font-weight: bold;
    color: #39683E;
}

* html #cas #login .btn-row {
    top: 5px;
}

/* IE6 */

#cas #login .btn-submit {
    float: none;
    display: inline;
    letter-spacing: 0;
}

* html #cas #login .btn-submit {
    background: #ffd;
}

#cas #login .btn-reset {
    float: none;
    margin-left: 5px;
    border: 0;
    border-left: 1px solid #ddd;
    background: transparent;
    color: #777;
    text-transform: lowercase;
    letter-spacing: 0;
}

#cas #sidebar {
    float: left;
    margin-left: 296px;
    padding: 18px 15px;
}

#cas #sidebar h3 {
    font: normal 400 14px Georgia, "Times New Roman", Times, serif;
    color: #555;
    margin: 18px 0 0;
    padding: 6px 0 3px;
}

#cas #sidebar p {
    margin: 0 0 18px;
    padding: 0;
    color: #555;
    font-size: 1.1em;
}

#cas #list-languages ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    list-style: none;
}

#cas #list-languages ul li {
    display: inline;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

#cas #list-languages ul li.first {
    padding-left: 0;
}

#cas #list-languages ul li.last {
    padding-right: 0;
    border: 0;
}

#cas #footer p {
    margin: 0 0 1em 0;
    padding: 0;
}

/* RESET --------------------------------- */
/* reset some properties for elements since defaults are not crossbrowser - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, h1, h2, h3, p, a, img, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ul {
    list-style: none;
    font-size: 1.1em;
    padding: 0 0 18px 40px;
    margin-left: -50px;
}

/* browser default font-size is 16px which is too big so we make it 16px x 62.5% = 10px */
body {
    font: normal 400 62.5%/1.0 Verdana, sans-serif;
    min-width: 960px;
    background: #fff;
    color: #333;
}

/*
 - used to clear or contain floats within a non-floated container
 - this ruleset is used by UAs that handle :after - not IE - see ie_cas.css for IE fix
http://www.positioniseverything.net/easyclearing.html and http://www.ejeliot.com/blog/59 */
#header:after, #content:after, #footer:after /*, .clearfix:after*/
{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* HEADER --------------------------------- */
#header {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 52px;
    background: #fff;
    width: 951
}

#header h1#app-name {
    clear: both;
    padding: 0 0 0 25px;
    background: #210f7a;
    color: #fff;
    font: normal 400 2.8em/2.5em Georgia, "Times New Roman", serif;
}

.topBanner {
    background: url("../images/allapps-top-banner.jpg") no-repeat;
}

/* d21033 */

/* CONTENT --------------------------------- */
#content {
    clear: both;
    padding: 1px 0;
    /*margin:0 25px 2em;*/
}

#content h2 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 400;
    color: #000;
    xborder-bottom: 1px solid #eee;
    padding: 3px 0;
    xletter-spacing: -1px;
}

#content h3 {
    font: 1em arial, helvetica, sans-serif;
    font-weight: 400;
}

#content p {
    line-height: 1.5;
    font-size: 1.1em;
    padding: 0 0 18px;
}

/* FOOTER --------------------------------- */
#footer {
    clear: both;
    position: relative;
    margin: 0 25px 1em;
    border-top: 1px solid #ccc;
    padding: 0 0 1px 0;
    background: transparent;
    color: #999;
}

#footer img#logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
}

#footer div {
    clear: left;
    margin: 1em 5px .5em;
    overflow: hidden;
}

/* MESSAGES --------------------------------- */
.info, .errors, .success {
    /*clear:both;
    margin:18px 0;
    padding:20px 20px 20px 100px;
    font-size:10px;
    line-height:1.5;*/
}

.info {
    border: 1px dotted 008;
    background: #eff url(../images/info.gif) no-repeat 20px 18px;
    color: #008;
}

.errors {
    /*border:1px dotted #d21033;*/
    /*background:#fed url(../images/error.gif) no-repeat 20px 18px;*/
    color: #d21033;
    background-color: transparent !important;
    /*padding-bottom: 40px;*/
    /*width:300px;*/
    /*margin-left:100px;*/

}

element.style {
    background-color: transparent;
}

.success {
    /*border:1px dotted #390;*/
    /*background:#dfa url(../images/confirm.gif) no-repeat 20px 18px;*/
    color: #390;
    /*width:400px;*/
    /*margin:0px auto;*/
    /*padding-bottom:40px;*/
    /*margin-bottom: 10px;*/
}

#content .errors h2, #content .success h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    margin: 0 18px 0 0;
    padding: 0;
}

#content .success h2 {
    color: #008 !important;
}

#content .errors h2 {
    color: #b00 !important;
}

#content .success h2 {
    color: #060 !important;
}

/* static messages */
#content #msg p {
    padding: 0;
}

/* FORMS --------------------------------- */
label {
    font-size: 13px;
    color: #333333;
}

input {
    border-width: 1px;
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    color: #000;
    padding: 3px;
    min-height: 1.5em;
}

input.btn-submit {
    border-width: 2px;
}

.fm-v div.row {
    float: left;
    left: -5px;
    margin: 0;
    padding: 0.5em 0;
    position: relative;
}

.fm-v div.row label {
    float: left;
    /*width:100%;*/
    line-height: 1.5;
    font-size: 13px;
}

.fm-v div.row input.btn-submit {
    display: block;
    margin: 0;
}

/* highlight errors */
input.error {
    background: #FFFFFF;
}

/* mark as required */
.required {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 274px !important;
}

.error {
    background: #ffefef;
}

input.required {
    border-width: 1px;
}

#ynfeet {
    clear: both;
    text-align: center;
    padding: 8px 0 10px;
    margin: 0;
}

#ynfeet p {
    margin: 2px 0;
}

#copyright {
    font-size: 85%;
    text-align: center;
}

.footer_position {
    text-align: center;
    padding-top: 4px;
}

.footerlink-text {
    color: #484848;
    text-align: center;
}

#roundbox {
    float: left;
    width: 320px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 45px;
}

#roundbox h3 {
    font-size: 14px;
    line-height: 25px;
    background: url(../images/headstrip.jpg); /*background: #365768;*/
    /*background: -moz-linear-gradient(top, #acc0cb, #365768);*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#acc0cb), to(#365768));*/
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-radius-topleft: 15px;
    border-radius-topright: 15px;
    border-bottom: 1px solid #FFFFFF !important;
    height: 27px;
    padding-top: 2px;
    margin-bottom: -4px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: bolder;
    /*width:320px;*/
}

#roundbox .box {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-radius-bottomleft: 15px;
    border-radius-bottomright: 15px;
    font-size: 1.0em;
    background-color: white !important;
    border: 1px solid #B3B3B3 !important;
    margin: 0;
    /*width:320px;*/
}

.sign-in-icon {
    margin: 10px 20px 20px;
    border: none;
}

.action-button {
    background: url("../images/bg-btn-signup.png") repeat-x 0 0;
    /*border: 1px solid #017004;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font: 12px Helvetica, Arial, Sans-serif;
    font-weight: bold;
    outline: none;
    width:50px !important;
    left:0px;
    float:left;
    clear:both !important;
    margin:5px;
    margin-right:5px;
    cursor: pointer;
    display:inline-block;*/
    float: left;
    font-family: "Arial", sans-serif;
    padding: 3px 10px;
    font-size: 11px !important;
    font-weight: normal;
    border: 1px double;
    /*-moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;*/
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5px;
    margin-left: -5px;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

.action-button:hover, {
    background: url("../images/bg-btn-signup-hover.png") repeat-x 0 0 !important;
}

#individual_usr_link_temp {
    font-weight: bold;
    float: right;
    padding: 5px;
    margin-right: 20px;
}

/*#################################new styles added##############################################*/
.login-box {
    float: inherit;
    width: 320px;
    height: 300px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    /*display:inline;*/
    padding: 0px !important;
}

.login-box-margin {
    margin-top: 100px;
    margin-left: 100px;
}

.sign-in-box {
    float: right;
    width: 320px;
    height: 300px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    display: inline;
    padding: 0px !important;
}

.login-box h3, .sign-in-box h3 {
    width: 336px !important;
    font-family: Arial, helvetica, sans-serif;
    margin: 0px;
    padding-left: 15px;
    font-size: 14px !important;
    line-height: 25px !important;
    background: url(../images/headstrip.jpg) repeat-x;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-radius-topleft: 15px;
    -webkit-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #FFFFFF !important;
    height: 27px;
    color: #FFFFFF;
    font-weight: bolder !important;
    display: inline-block;
    text-align: left;
    margin-right: 0px !important;
}

.box {
    /*width: 100%;*/
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;*/

    /*font-size: 12px !important;
    background-color: #F6F6F6 !important;
    border: 1px solid black !important;*/

    margin-left: 8px;
    padding: 16px 16px 40px 16px;
    font-weight: normal;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 5px;
    background: #f6f6f6;
    border: 1px solid #e5e5e5;
    -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;

    height: 200px;
    margin-left: 94px;
    overflow: hidden;
    padding: 15px !important;
    width: 270px !important;
}

.horizontal-line {
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #b3b3b3 1px solid;
}

.individual-acc-link {
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    float: right;

}

.individual-acc-link a {
    line-height: 15px;
    text-align: center;
}

.corporate-acc-link {
    line-height: 35px;
    /*text-indent:15px;*/
}

.corporate-acc-link a {
    line-height: 15px;
    text-align: center;
    padding-left: 5px;
}

.main-layout {
    width: 1000px;
    margin: 0px auto;
    padding: 20px;
    text-align: left;
}

.center-layout {
    width: 551px;
    height: 242px !important;
    margin: -1px auto;
    text-align: left;
    background: transparent url("../images/allapps-middle-banner.jpg") no-repeat !important;
    padding-left: 250px !important;
    padding-top: 110px !important;
}

.fm-v clearfix {
    /*width:800px !important;*/
    margin: 0px auto !important;
    padding: 20px !important;
    float: none;
!important;
    background-color: transparent !important;
}

.header img {
    width: 781px;
    height: 135px;
    padding: 0px;
    margin: 0px auto;
}

.header {
    width: 951px;
    padding: 0px;
    margin: 0px auto;

}

.individual-user-label {
    float: left;
    vertical-align: middle;
    padding: 5px;
}

.new-account-label {
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.new-account-message-label {
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    float: right;
}

#content {
    margin: 0 auto !important;
    padding-right: 12px;
    width: 791px !important;
}

#msg {
    width: 600px;
    margin: 0px auto;
}

body {
    background: #e2e2e2 url("../images/bg.jpg") repeat-x !important;
    text-align: center;
    margin-top: 20px;
}

.clear-space {
    height: 20px;
}

.panel-clear-space {
    height: 25px;
}

.align-bottom {
    vertical-align: bottom;
}

.box-upper {
    height: 155px;
}

.openid-link-layout {
    VERTICAL-ALIGN: middle ! important;
    HEIGHT: 70%;
    TEXT-ALIGN: center;
    padding-top: 30px;
}

/*Footer*/
#footer {
    text-align: center;
    padding: 8px 0;
    margin-top: .7em;
    line-height: 1;
    background: #fff;
    white-space: nowrap;
}

#footer li {
    display: inline;
    padding: 0 4px;
}

#footer li.first:before {
    content: '';
    padding-right: 0;
}

#footer {
    background-color: transparent !important;
    text-align: left;
    font-size: .88em;
    margin-top: 0;
}

.ie #footer {
    margin-top: -10px;
}

#footer ul {
    padding-left: 20px;
    float: left;
}

#footer br {
    display: none;
}

.container_18 {
    margin-left: auto;
    margin-right: auto;
    width: 792px;
}

.grid_18 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 6px;
    margin-right: 5px;
}

/*To change the footer color change the <background-color: #d2060e;> */

#trends {
    text-align: left;
    position: relative;
    padding: 10px 0 10px 0;
    overflow: hidden;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000;
    background-repeat: repeat-x;
    background-position: right;
    color: #999;
}

#trends .current {
    height: auto;
    margin-left: 0px;
    /*width: 426px;*/
    text-align: left;
    padding-left: 29px;
    color: red;
}

/*To change the footer navigation link colors change the <color: #FFFFFF;> */
#trends a, #trends li span {
    display: inline-block;
    padding: 0 15px 0 0;
    color: #FFFFFF;
    outline: none;
    font-size: 15px;
}

.current a:hover {
    background-color: #f0f0f0;
    background-color: transparent !important;
}

.ie6 #trends div li {
    margin: .5em 0;
}

.ie6 #trends div, .ie7 #trends div {
    background-position: 0 .5em;
}

#trends ul, #trends_list ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
}

#trends em, #trends_list em {
    display: none;
}

#trends ul {
    white-space: nowrap;
    line-height: 2;
}

#trends .current ul {
    line-height: 2.1;
}

.safari #trends .current ul {
    line-height: 2.2;
}

#trends li {
    margin: 0;
    display: inline-block;
    float: left;
}

#trends a:hover {
    color: #fff;
    text-decoration: none;
}

#footerRightCorner {
    float: right;
}

#footer_container .footerRightCorner {
    display: inline;
    float: right;
}

#clock {
    margin-right: 25px;
}

.round {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.round-top-right {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.round-right {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.round-bottom-right {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.round-bottom {
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.round-bottom-left {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.round-left {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.round-top-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.round-top {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

.alignright {
    float: right;
}

/*GRID*/

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
	cw=33 * 18
	gw=11 * 18
*/

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_18 {
    margin-left: auto;
    margin-right: auto;
    width: 792px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 6px;
    margin-right: 5px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* Grid >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .grid_1 {
    width: 33px;
}

.container_18 .grid_2 {
    width: 77px;
}

.container_18 .grid_3 {
    width: 121px;
}

.container_18 .grid_4 {
    width: 165px;
}

.container_18 .grid_5 {
    width: 209px;
}

.container_18 .grid_6 {
    width: 253px;
}

.container_18 .grid_7 {
    width: 297px;
}

.container_18 .grid_8 {
    width: 341px;
}

.container_18 .grid_9 {
    width: 385px;
}

.container_18 .grid_10 {
    width: 429px;
}

.container_18 .grid_11 {
    width: 473px;
}

.container_18 .grid_12 {
    width: 517px;
}

.container_18 .grid_13 {
    width: 561px;
}

.container_18 .grid_14 {
    width: 605px;
}

.container_18 .grid_15 {
    width: 649px;
}

.container_18 .grid_16 {
    width: 693px;
}

.container_18 .grid_17 {
    width: 737px;
}

.container_18 .grid_18 {
    width: 781px;
}

/* Prefix Extra Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .prefix_1 {
    padding-left: 44px;
}

.container_18 .prefix_2 {
    padding-left: 88px;
}

.container_18 .prefix_3 {
    padding-left: 132px;
}

.container_18 .prefix_4 {
    padding-left: 176px;
}

.container_18 .prefix_5 {
    padding-left: 220px;
}

.container_18 .prefix_6 {
    padding-left: 264px;
}

.container_18 .prefix_7 {
    padding-left: 308px;
}

.container_18 .prefix_8 {
    padding-left: 352px;
}

.container_18 .prefix_9 {
    padding-left: 396px;
}

.container_18 .prefix_10 {
    padding-left: 440px;
}

.container_18 .prefix_11 {
    padding-left: 484px;
}

.container_18 .prefix_12 {
    padding-left: 528px;
}

.container_18 .prefix_13 {
    padding-left: 572px;
}

.container_18 .prefix_14 {
    padding-left: 616px;
}

.container_18 .prefix_15 {
    padding-left: 660px;
}

.container_18 .prefix_16 {
    padding-left: 704px;
}

.container_18 .prefix_17 {
    padding-left: 748px;
}

/* Suffix Extra Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .suffix_1 {
    padding-right: 44px;
}

.container_18 .suffix_2 {
    padding-right: 88px;
}

.container_18 .suffix_3 {
    padding-right: 132px;
}

.container_18 .suffix_4 {
    padding-right: 176px;
}

.container_18 .suffix_5 {
    padding-right: 220px;
}

.container_18 .suffix_6 {
    padding-right: 264px;
}

.container_18 .suffix_7 {
    padding-right: 308px;
}

.container_18 .suffix_8 {
    padding-right: 352px;
}

.container_18 .suffix_9 {
    padding-right: 396px;
}

.container_18 .suffix_10 {
    padding-right: 440px;
}

.container_18 .suffix_11 {
    padding-right: 484px;
}

.container_18 .suffix_12 {
    padding-right: 528px;
}

.container_18 .suffix_13 {
    padding-right: 572px;
}

.container_18 .suffix_14 {
    padding-right: 616px;
}

.container_18 .suffix_15 {
    padding-right: 660px;
}

.container_18 .suffix_16 {
    padding-right: 704px;
}

.container_18 .suffix_17 {
    padding-right: 748px;
}

/* Push Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .push_1 {
    left: 44px;
}

.container_18 .push_2 {
    left: 88px;
}

.container_18 .push_3 {
    left: 132px;
}

.container_18 .push_4 {
    left: 176px;
}

.container_18 .push_5 {
    left: 220px;
}

.container_18 .push_6 {
    left: 264px;
}

.container_18 .push_7 {
    left: 308px;
}

.container_18 .push_8 {
    left: 352px;
}

.container_18 .push_9 {
    left: 396px;
}

.container_18 .push_10 {
    left: 440px;
}

.container_18 .push_11 {
    left: 484px;
}

.container_18 .push_12 {
    left: 528px;
}

.container_18 .push_13 {
    left: 572px;
}

.container_18 .push_14 {
    left: 616px;
}

.container_18 .push_15 {
    left: 660px;
}

.container_18 .push_16 {
    left: 704px;
}

.container_18 .push_17 {
    left: 748px;
}

/* Pull Space >> 18 Columns
----------------------------------------------------------------------------------------------------*/

.container_18 .pull_1 {
    left: -44px;
}

.container_18 .pull_2 {
    left: -88px;
}

.container_18 .pull_3 {
    left: -132px;
}

.container_18 .pull_4 {
    left: -176px;
}

.container_18 .pull_5 {
    left: -220px;
}

.container_18 .pull_6 {
    left: -264px;
}

.container_18 .pull_7 {
    left: -308px;
}

.container_18 .pull_8 {
    left: -352px;
}

.container_18 .pull_9 {
    left: -396px;
}

.container_18 .pull_10 {
    left: -440px;
}

.container_18 .pull_11 {
    left: -484px;
}

.container_18 .pull_12 {
    left: -528px;
}

.container_18 .pull_13 {
    left: -572px;
}

.container_18 .pull_14 {
    left: -616px;
}

.container_18 .pull_15 {
    left: -660px;
}

.container_18 .pull_16 {
    left: -704px;
}

.container_18 .pull_17 {
    left: -748px;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

/*.clear {*/
/*clear: both;*/
/*display: block;*/
/*overflow: hidden;*/
/*visibility: hidden;*/
/*width: 0;*/
/*height: 0;*/
/*}*/

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.dialog-connect-top-error-message {
    background: #ff0000;
    padding: 5px 0;
    border: 1px solid #9d0000;
    color: #fff;
    text-align: center;
    font-weight: 700;
    width: 781px;
    margin: 15px auto;
    font-size: 14px;
}

.dialog-connect-validation-error-box {
    float: left;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    color: #F00;
    font-size: 15px;
    border-radius: 10px;

    width: 290px;
    left: 463px;
    position: relative;
    top: 250px;

    -webkit-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow: 0px 0px 5px 3px #ccc;
}
