/*
 * (C) Copyright 2008-2012 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */

/* General Styles and classes
-------------------------------*/

body{
	margin:0;
	padding:0;
	background-color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	color:#404040;
}
h1,h2,h3,h4,h5,h6, span, li,ul, a{
	margin:0;
	padding:0;
}

.clear-all{
	clear:both;
}
.clear-left{
	clear:left;
}
.clear-right{
	clear:right;
}
.img-replace{
	display:none;
}
.img-align{
	vertical-align:middle;
}
/* Buttons, Links and Navigation
------------------------------------*/

a {
	color:#404040;
	text-decoration:none;
	font-size:small;
}
#main-nav{
	float:right;
	text-align:right;
	
}
#main-nav ul{
	margin-top:10px;
}
#main-nav ul li{
	list-style-type:none;
	display:inline-block;
	margin-left:5px;
}
#btn-login{
	background:url(../images/login.png) no-repeat;
	display:inline-block;
	width:25px;
	height:25px;
}

#btn-home{
	background:url(../images/home.png) no-repeat;
	display:inline-block;
	width:25px;
	height:25px;
}

#btn-search{
	background:url(../images/search.png) no-repeat;
	display:inline-block;
	width:25px;
	height:25px;
}

#btn-myapps{
	background: url(../images/my-apps.png) no-repeat;
	display:inline-block;
	width:25px;
	height:25px;
}

/* Forms
-----------------------------------*/

fieldset{
	border:none;
	padding:0;
	padding-right:10px;
	padding-top:5px;
	
}
fieldset label{
	font-size:small;
	color:#30802a;
	font-weight:bold;
}
fieldset input[type="text"]{
	width:100%;
	padding:3px;
	border:1px solid #30802a;
}
fieldset input[type="password"]{
	width:100%;
	padding:3px;
	margin-bottom:10px;
	border:1px solid #30802a;
}
.keep-me-signed-in span{
	font-size:small;
}

.new-account-phone-verification{
	padding-left:5px;
	margin-bottom:10px;
}

.signin-with{
	padding-left:5px;
	margin-bottom:10px;
	font-weight:bold;
}

.dont-have-account{
	padding-left:5px;
	margin-bottom:10px;
	font-weight:bold;
}
.social-icons{
	padding-left:5px;
	margin-bottom:10px;
	margin-top:5px;
}

.icons{
	padding-left:5px;
}

#twitter-icon{
	display:inline-block;
	width:25px;
	height:25px;
	float:left;
	margin-left: 0px;
	margin-right: 10px;
}

#fb-icon{
	display:inline-block;
	width:25px;
	height:25px;
	float:left;
	margin-right: 10px;
}

#google-icon{
	display:inline-block;
	width:25px;
	height:25px;
	float:left;
}
/* Header
-------------------------------*/
#header{
	height:62px;
	padding: 10px;
}
#header h1{
	width:102px;
	height:20px;
	float:left;
	margin-top:5px;
}
#logo{
	background:url(../images/logo.png) no-repeat;
	display:inline-block;
	width:102px;
	height:20px;
}
#main-nav{
}
/* Bread Crumb Area
-------------------------------*/

#breadcrumb{
	background-color:#77BB72;
	padding:5px 0 7px 10px;
	border-bottom:3px solid #33982a;
}
#breadcrumb h2{
	font-size:small;

}
.breadcrumb-left {
	float:left;
}
.breadcrumb-right {
	float:right;
	text-align:right;
	padding-right:10px;
}
/* Main Content
-------------------------------*/
#main-content{
	background-color:#FFFFFF;
	border-bottom:1px solid #c9c9c9;
	height: auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.list-style-one li{
	list-style-type:none;
	border-top:1px solid #fff;
	border-bottom:1px solid #c4c4c4;
}
.list-style-one li:first-child{
	border-top:none;
}
.list-style-one li:last-child{
	border-bottom:none;
}
.list-style-one li img{
	margin-right:5px;
}

.list-style-one li a{
	display:block;
	font-size:small;
	font-weight:bold;
	padding:15px 0;
	text-decoration:none;
}

.rating-stars li{
	border:none;
	display:inline-block;
	width:12px;
	height:12px;
}

.app-name-part{
	float:left;
	
}
.app-name-part img{
	display:inline-block;
	width:32px;
	height:32px;
}
.app-name{
	font-weight:normal;
	font-size:small;
	display:inline-block;
}
.category-rating{
	float:right;
	text-align:right;
}
.category-name{
	font-weight:normal;
	font-size:small;
}

.single-container{
	padding-top:15px;
}
.single-container p{
	font-size:small;
}
.single-pic{
	display:inline-block;
}
.single-title{
	display:inline-block;
	font-size:small;
}
.left-column{
	float:left;
}
.right-column{
	float:right;
	text-align:right;
}
.right-column img{
	text-align:right;
	margin-right:0;
}


.download-list{
	display:inline-block;
	list-style-type:none;
}
.download-list li{
	font-size:x-small;
}
.download-list li a{
	text-decoration:none;
}
.category-and-price{
	margin-top:10px;
}
.category-and-price h3{
	font-size:small;
}
.hits-and-rating h3{
	font-size:small;
	margin-top:10px;
}

/*Footer
-------------------------------*/
#footer{
	font-size:small;
	text-align:center;
	color:#7a7a7a;
	margin-top: 20px;
}

.dont-have-account {
	font-size: 12px
}
.application-dev{
	font-size: 12px;
	font-weight: bold;
}
