/*
 * (C) Copyright 2008-2012 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */

/* "* html" hack used to hide styles from IE7 */
#header, #content, #footer, .clearfix, #student .row, #student .col {zoom:1;} /* needs to be seen by IE7 to trigger hasLayout */

/* FOOTER --------------------------------- */
#footer {padding-bottom:1em;}

* html #sidebar {display:inline;} /* double margin on float bug */

* html input.btn-submit {padding:2px .25em; width:0; overflow:visible;} /* extra width fix */ 
